name: Run Tests

on:
  push:
    branches: ['*']

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Pull browser images
        run: docker pull selenoid/chrome:128.0

      - name: Run tests
        run: docker compose up --build --abort-on-container-exit --exit-code-from tests

      - name: Upload allure results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-results
          path: allure-results/

      - name: Stop containers
        if: always()
        run: docker compose down
